version: '3.1'
services:
  database:
    restart: always
    image: "postgres:latest"
    volumes:
        - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
    - 5432:5432
    env_file:
    - database.env